<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657434982358-kbiganp58vjhce6m7tthftr7j1unr0eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657434982358-kbiganp58vjhce6m7tthftr7j1unr0eh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>657434982358-bshr0mvs6in9m9o5rijpt0dilgmt6ufc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA27GfAQbFjEUL7xP4OrJM1fHvUWfcS_e4</string>
	<key>GCM_SENDER_ID</key>
	<string>657434982358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harmony.bookswap</string>
	<key>PROJECT_ID</key>
	<string>book-swap-2d9a5</string>
	<key>STORAGE_BUCKET</key>
	<string>book-swap-2d9a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657434982358:ios:19ab00ecce30ab904a5677</string>
</dict>
</plist>